<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Talent Network</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 id="title">Talent Network</h1>
        <p>Your talent finder!</p>
      </div>
    </div>

    <section id='user-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New User</legend>


                                    <!-- USER FIELDS -->
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">User Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="write your name" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="your email to get discovered" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="location">Location</label>
              <div class="col-md-4">
              <input id="location" name="location" type="text" placeholder="where are you from?" class="form-control input-md">

              </div>
            </div>


                                  <!-- TALENT FIELDS -->
<!--
            <div class="form-group">
              <label class="col-md-4 control-label" for="talentName" placeholder="what do you call your talent?">Talent Name</label>
              <div class="col-md-4">
                <input class="form-control" id="talentName" name="talentName"></input>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label" for="talentImage" >Talent Image</label>
              <div class="col-md-4">
                <input class="form-control" id="talentImage" name="talentImage" placeholder="add the url for an image to describe your talent "></input>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label" for="talentDesription">Talent Description</label>
              <div class="col-md-4">
                <textarea class="form-control" id="talentDesription" name="talentDesription" placeholder="tell us about your talent"></textarea>
              </div>
            </div> -->





            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Create your Profile</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>







                            <!-- DISPLAYS USERS -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Users</h2>
        </div>
      </div>
      <!-- users! -->
      <div id="users"></div>
    </section>






  </body>
</html>
