div.jumbotron {
  background-image: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1457172742000/photosp/63c6bccd-6faa-47d2-85f4-4241e229f771/stock-photo-celebration-music-concert-holiday-party-music-festival-performance-lights-talent-63c6bccd-6faa-47d2-85f4-4241e229f771.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: red;
  text-align: center;

}
.jumbotron .container {
  height: 400px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
}

#title {
  text-align: center;

}

