body {
  background-image: url("../images/clouds.jpeg");
  background-image: cover;
  background-repeat: repeat;
}

div.jumbotron {
  background-image: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1457172742000/photosp/63c6bccd-6faa-47d2-85f4-4241e229f771/stock-photo-celebration-music-concert-holiday-party-music-festival-performance-lights-talent-63c6bccd-6faa-47d2-85f4-4241e229f771.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: red;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.jumbotron .container {
  height: 400px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
}

h1#title {
  font-size: 7em;
  text-shadow: 0 0 10px #fff;
}

div.jumbotron p {
  font-size: 2.5em;
  text-shadow: 0 0 2px #fff;
}

#title {
  text-align: center;

}
 .panel {
   border: 3px solid black;
 }

h2 {
  text-align: center;
}

h4 {
  margin-left: 10%;
}

h2, h4 {
  font-family: 'Lobster', cursive;
}

#users {
  display: grid;
  grid-template-columns: 50% 45%;
  /*width: 45%;*/
}

div#users {
  width: 100%;
}

div.panel:nth-child(odd) {
  margin-right: 10%
}

div.card {
  background: #eee;
  padding: 1em;
}

div.card:nth-child(odd) {
  background: #ddd;
}

fieldset {
  border: 5px solid red;
  border-radius: 25%;
}

legend {
  text-align: center;
}

div.panel p {
  padding-left: 10%;
}
